.intro {
  border-top: 10px solid var(--color-theme-highlight);
  background-color: #00ced1;
  margin: 0 -1.25rem;


  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: #005052;

    &--compact {
      max-width: 20ex;
    }
  }

  &__meta {
    color: #005052;
  }
}
