{% import "partials/components/custom-post-list.njk" as customPostList %}

{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" class="home" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {{ customPostList.customPostList(collections.articles, global, "Articles") }}
    {{ customPostList.customPostList(collections.notes, global, "Notes") }}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
